<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InfoActivity"
            android:label="@string/info_label"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".RuTeamActivity"
            android:label="@string/ru_team_label" />
        <activity android:name=".ItTeamActivity"
            android:label="@string/it_team_label"/>
        <activity android:name=".PlTeamActivity"
            android:label="@string/pl_team_label"/>
        <activity android:name=".RussianTeamsActivity"
            android:label="@string/ru_team_label"/>
        <activity android:name=".ItalianTeamsActivity"
            android:label="@string/it_team_label"/>
        <activity android:name=".PolishTeamsActivity"
            android:label="@string/pl_team_label"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>